<% if flash[:notice] %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
<% end %>

<h1>Ron, wake up.</h1>

<p>Automatically post "Ron, wake up." to Ron Mason's wall from your Facebook account every day at 1:10am.</p>

<a href="https://www.facebook.com/dialog/oauth?client_id=289867491112170&redirect_uri=http://localhost:3000/done&scope=publish_stream&state=<%= @state %>">Authorize</a>